<h1>{{title}}</h1>
<ul>
  <li *ngFor="let todo of todos">{{ todo.task }} - 
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>  
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">Refazer</button> | 
    <button (click)="remove(todo)">Excluir</button></li>
</ul>

<form [formGroup]="form"> 
  <fieldset>
    <label for="">Nova Tarefa </label>
    <input type="text" placeholder="Ir ao mercado" maxlength="100" formControlName="task">
    <button>Salvar</button>
  </fieldset>
</form>